<div class="mx-auto max-w-2xl py-16 sm:py-24 lg:py-28">
  <div class="text-center">
    <slot name="title"/>
    <slot name="subtitle"/>  
    <slot name="description"/>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <slot name="actions"/>
    </div>
  </div>
</div>