<div class="pt-24 md:pt-32 lg:pt-24 lg:min-w-275 lg:max-h-125 -z-10 object-center relative overflow-hidden">
    <slot name="image"/></div>
<div class="mx-auto max-w-2xl py-8  text-center">
    <slot name="title"/>
    <slot name="subtitle"/>  
    <div class="mt-10 flex items-center justify-center gap-x-6">
        <slot name="actions"/>
    </div>
</div>
