@import "tailwindcss";

@theme {
  --color-pale-slate: #e4f1f7;
  --color-pale-slate-10: #0c1f27;
  --color-pale-slate-20: #173d4f;
  --color-pale-slate-30: #235c76;
  --color-pale-slate-40: #2f7a9d;
  --color-pale-slate-50: #3b99c4;
  --color-pale-slate-60: #62add0;
  --color-pale-slate-70: #89c2dc;
  --color-pale-slate-80: #b0d6e8;
  --color-pale-slate-90: #d8ebf3;

  --color-onyx: #151719;
  --color-onyx-10: #171a1c;
  --color-onyx-20: #2e3338;
  --color-onyx-30: #464c53;
  --color-onyx-40: #5d666f;
  --color-onyx-50: #747f8b;
  --color-onyx-60: #9099a2;
  --color-onyx-70: #acb3b9;
  --color-onyx-80: #c7ccd1;
  --color-onyx-90: #e3e6e8;

  --color-wine: #5c0509;
  --color-wine-10: #300305;
  --color-wine-20: #61050a;
  --color-wine-30: #91080f;
  --color-wine-40: #c20a13;
  --color-wine-50: #f20d18;
  --color-wine-60: #f53d46;
  --color-wine-70: #f76e75;
  --color-wine-80: #fa9ea3;
  --color-wine-90: #fccfd1;

  --color-slate: #c7ccd1;
  --color-slate-10: #17191c;
  --color-slate-20: #2e3338;
  --color-slate-30: #454c54;
  --color-slate-40: #5c6670;
  --color-slate-50: #737f8c;
  --color-slate-60: #8f99a3;
  --color-slate-70: #abb3ba;
  --color-slate-80: #c7ccd1;
  --color-slate-90: #e3e6e8;

  --color-cherry: #b80024;
  --color-cherry-10: #33000a;
  --color-cherry-20: #660014;
  --color-cherry-30: #99001f;
  --color-cherry-40: #cc0029;
  --color-cherry-50: #ff0033;
  --color-cherry-60: #ff335c;
  --color-cherry-70: #ff6685;
  --color-cherry-80: #ff99ad;
  --color-cherry-90: #ffccd6;

  --color-pink-wine: #721f30;
  --color-pink-wine-10: #280b11;
  --color-pink-wine-20: #501622;
  --color-pink-wine-30: #782132;
  --color-pink-wine-40: #a02c43;
  --color-pink-wine-50: #c83754;
  --color-pink-wine-60: #d35f76;
  --color-pink-wine-70: #de8798;
  --color-pink-wine-80: #e9afbb;
  --color-pink-wine-90: #f4d7dd;
	


	--font-notosans: NotoSans, sans-serif;
	--font-wixdisplay: WixMadeforDisplay, sans-serif;
}
@font-face {
  font-family: "NotoSans";
  src: url("/fonts/notosans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "WixMadeforDisplay";
  src: url("/fonts/wixdisplay-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: var(--font-notosans);
  margin: 0;
  padding: 0;
}

 h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: WixMadeforDisplay, sans-serif;
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
}
h1 {
  font-size: 3.052em;
}
h2 {
  font-size: 2.441em;
}
h3 {
  font-size: 1.953em;
}
h4 {
  font-size: 1.563em;
}
h5 {
  font-size: 1.25em;
}
strong,
b {
  font-weight: 700;
}
p {
  font-family: NotoSans, sans-serif;
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}