<div class="w-full max-w-5/6 rounded-xl shadow-xl ring-1 ring-white/10 sm:w-228 md:-ml-4 lg:ml-0">
    <div class="overflow-hidden rounded-xl bg-gray-100">
	    <slot name="image"/> 
    </div>
    <slot name="title"/> 
</div>