<div class=" max-w-1/1 rounded-xl shadow-xl ring-1 ring-white/10 sm:w-228 md:-ml-4 lg:ml-0">
    <div class="overflow-hidden rounded-xl bg-pink-wine">
	    <slot name="image"/> 
    </div>
    <div class="p-4 ">
        <slot name="title"/> 
        <slot name="description"/>
    </div>
</div>