---
import ProjectCardBase from './ProjectCardBase.astro';

---
<ProjectCardBase slot="cards">
            <img slot="image" src="src/assets/blog-placeholder-3.jpg" alt="Project Image" class=""/>
            <h3 slot="title" >Project Title</h3>
            <p slot="description" class="mt-2 text-onyx dark:text-pale-slate">A brief description of the project goes here, highlighting key features and technologies used.</p>
</ProjectCardBase>