---
const { imgurl, alt } = Astro.props;
---

<div class=" max-w-full rounded-xl shadow-xl ring-1 ring-white/10 sm:w-228 md:-ml-4 lg:ml-0">
    <div class="overflow-hidden rounded-xl">
	    <img src={imgurl} alt={alt} class="object-cover w-full h-48" /> 
    </div>
</div>