---
// src/pages/about.astro
import "../styles/global.css";
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/navheader/Header.astro';
import SplitHero from '../components/hero/HeroSplit.astro';
import AbstractBG from "../components/bg/AbstractBG2.astro";
---
<BaseLayout title="About">
	<Header slot="nav" />
	<AbstractBG slot="hero">
		<SplitHero>
			<h1 slot="Heading" class="mt-2 text-4xl font-wixdisplay tracking-tight text-pretty text-pale-slate sm:text-5xl">About Ava</h1>
			<p slot="description" class="mt-6 text-lg/8 text-gray-300">Put da bio here</p>
			<div slot="actions" class="mt-10 flex items-center gap-x-6">
				<a slot="actions" href="/contact" class="rounded-3xl bg-pale-slate px-3.5 py-2.5 text-sm font-semibold text-wine shadow-xs hover:bg-slate-30 hover:text-cherry-60 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
        Contact</a>
        <a slot="actions" href="/projects" class="text-sm/6 font-semibold text-pale-slate">
          Browse Projects<span aria-hidden="true">→</span></a>
			</div>
		</SplitHero>
	</AbstractBG>
	
</BaseLayout>