---
// src/pages/index.astro
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import AbstractBG from "../components/bg/AbstractBG.astro";
import Hero from "../components/hero/HeroCentered.astro";
import Header from "../components/navheader/Header.astro";
import ProjectListBento from "../components/bento/ProjectListBento.astro";
import ProjectCardBase from "../components/cards/ProjectCardBase.astro";
---

<BaseLayout title="Home">
	<Header slot="nav" />
    <AbstractBG slot="hero">
      <Hero>
        <h1 slot="title" class="font-wixdisplay text-9xl font-black tracking-tight text-balance text-onyx-20 dark:text-pale-slate sm:text-7xl">
          Ava Daly</h1>
        <h1 slot="subtitle" class="font-wixdisplay text-lg font-light tracking-tight text-balance text-onyx-20 dark:text-pale-slate-90 sm:text-7xl">
          Creative Industry PM</h1>
        <p slot="description" class="mt-8 text-lg font-light text-pretty text-onyx-30 dark:text-onyx-60 sm:text-xl/8">
                Creating. Aligning. Inspiring.</p>
        <a slot="actions" href="/contact" class="rounded-3xl bg-pale-slate px-3.5 py-2.5 text-m font-semibold text-wine shadow-xs hover:bg-slate-30 hover:text-cherry-60 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
          Contact</a>
          <a slot="actions" href="/projects" class="text-sm font-semibold text-wine dark:text-pale-slate">
            Browse Projects<span aria-hidden="true">→</span></a>
        </Hero>
  </AbstractBG>
  <div slot="main" class=" p-8 rounded-xl shadow-xl ring-1 ring-onyx-20/20 bg-onyx-50/10 dark:shadow-onyx-20 dark:shadow-md dark:ring-slate-20/60 dark:bg-wine-30/10">
      <h4>Who am I</h4>  
      <h1 class=" font-wixdisplay text-pink-wine font-bold">Strength Behind Craft</h1>
        <p class="font-notosans mt-4 text-lg text-onyx dark:text-pale-slate">
          Welcome to my portfolio website! I'm Ava Daly, a passionate Creative Industry Project Manager dedicated to bringing innovative projects to life. With a keen eye for detail and a commitment to excellence, I specialize in aligning creative visions with strategic execution. Explore my projects to see how I create, align, and inspire in the dynamic world of creative industries.
        </p>
    </div>
                
    <ProjectListBento slot="main">
        <h1 slot="title" class="py-8">This is where the project cards will go</h1>
        <ProjectCardBase slot="cards">
            <img slot="image" src="src/assets/blog-placeholder-3.jpg" alt="Project Image" class=""/>
            <h3 slot="title" >Project Title</h3>
        </ProjectCardBase>
        <ProjectCardBase slot="cards">
            <img slot="image" src="src/assets/blog-placeholder-3.jpg" alt="Project Image" class=""/>
            <h3 slot="title" >Project Title</h3>
        </ProjectCardBase>
        <ProjectCardBase slot="cards">
            <img slot="image" src="src/assets/blog-placeholder-3.jpg" alt="Project Image" class=""/>
            <h3 slot="title" >Project Title</h3>
        </ProjectCardBase>
    </ProjectListBento>
</BaseLayout>