---
// src/pages/projects.astro
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/navheader/Header.astro";
import AbstractBG from "../components/bg/AbstractBG3.astro";
import Hero from "../components/hero/HeroCenteredCondensed.astro";
import ProjectListBento from "../components/bento/ProjectListBento.astro";
import ProjectCardBase from "../components/cards/ProjectCardBase.astro";
---

<BaseLayout title="Projects">
	<Header slot="nav" />
    <AbstractBG slot="hero">

        <Hero>
            <h1 slot="title" class="text-5xl font-bold font-wixdisplay tracking-tight text-balance text-pale-slate sm:text-7xl">
                Projects</h1>
            <h2 slot="subtitle" class="text-5xl font-wixdisplay tracking-tight text-balance text-slate-90 sm:text-7xl">
                this will be a page of projects</h2>
        </Hero>
    </AbstractBG>
    <div slot="main" class="py-16">
        <h1>Strength Behind Craft</h1>
    </div>
                
    <ProjectListBento slot="main">
        <h1 slot="title" class="py-8">This is where the project cards will go</h1>
        <ProjectCardBase slot="cards">
            <img slot="image" src="src/assets/blog-placeholder-3.jpg" alt="Project Image" class=""/>
            <h3 slot="title" >Project Title</h3>
        </ProjectCardBase>
        <ProjectCardBase slot="cards">
            <img slot="image" src="src/assets/blog-placeholder-3.jpg" alt="Project Image" class=""/>
            <h3 slot="title" >Project Title</h3>
        </ProjectCardBase>
        <ProjectCardBase slot="cards">
            <img slot="image" src="src/assets/blog-placeholder-3.jpg" alt="Project Image" class=""/>
            <h3 slot="title" >Project Title</h3>
        </ProjectCardBase>
    </ProjectListBento>
</BaseLayout>