---
// src/pages/projects.astro
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import AbstractBG from "../components/bg/AbstractBGCondensed.astro";
import Hero from "../components/hero/HeroCenteredCondensed.astro";
import ProjectListBento from "../components/bento/ProjectListBento.astro";
import ProjectCardPlaceholder from "../components/cards/ProjectCardPlaceholder.astro";
import ProjectCardBase from "../components/cards/ProjectCardBase.astro";
---

<BaseLayout title="Projects">
    <AbstractBG slot="hero">
        <Hero>
            <h1 slot="title" class="text-5xl font-bold font-wixdisplay tracking-tight text-balance text-pale-slate sm:text-7xl">
                Projects</h1>
            <h2 slot="subtitle" class="text-5xl font-wixdisplay tracking-tight text-balance text-slate-90 sm:text-7xl">
                this will be a page of projects</h2>
        </Hero>
    </AbstractBG>
    <ProjectListBento slot="main">
        <h1 slot="title" class="py-8"><a href="/projects/project-1/">List of Projects</a></h1>
        <ProjectCardBase slot="cards" title="Project Title" description="Brief description of the project, your role, and key contributions." />
        <ProjectCardPlaceholder slot="cards" />
        <ProjectCardPlaceholder slot="cards" />
        <ProjectCardPlaceholder slot="cards" />
        <ProjectCardPlaceholder slot="cards" />
        <ProjectCardPlaceholder slot="cards" />
        <ProjectCardPlaceholder slot="cards" />
        <ProjectCardPlaceholder slot="cards" />
    </ProjectListBento>
</BaseLayout>