---
// src/pages/projects.astro
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import AbstractBG from "../components/bg/AbstractBGCondensed.astro";
import Hero from "../components/hero/HeroCenteredCondensed.astro";
import ProjectListBento from "../components/bento/ProjectListBento.astro";
import ProjectCardBase from "../components/cards/ProjectCardBase.astro";
import { getCollection } from "astro:content";
const allProjects = await getCollection("projects");
---

<BaseLayout title="Projects">
    <AbstractBG slot="hero">
        <Hero>
            <h1 slot="title" class="text-5xl font-bold font-wixdisplay tracking-tight text-balance text-pale-slate sm:text-7xl">
                Projects</h1>
            <h2 slot="subtitle" class="text-5xl font-wixdisplay tracking-tight text-balance text-slate-90 sm:text-7xl">
                this will be a page of projects</h2>
        </Hero>
    </AbstractBG>
    <ProjectListBento slot="main">
        <h1 slot="title" class="py-8"><a href="/projects/project-1/">List of Projects</a></h1>
        {allProjects.map((project: any) => 
            <ProjectCardBase slot="cards" href={`/projects/${project.id}/`} title={project.data.title} description={project.data.description} heroImage={project.data.heroImage.url} />
        )}
    </ProjectListBento>
</BaseLayout>