---
// src/pages/projects.astro
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import AbstractBG from "../components/bg/AbstractBGCondensed.astro";
import Hero from "../components/hero/HeroCenteredCondensed.astro";
import ProjectListBento from "../components/bento/ProjectListBento.astro";
import ProjectCardBase from "../components/cards/ProjectCardBase.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
const allProjects: CollectionEntry<"projects">[] =
  await getCollection("projects");
---

<BaseLayout title="Projects">
  <AbstractBG slot="hero" class="-z-10">
    <Hero>
      <h1
        slot="title"
        class="font-bold font-wix tracking-tight text-balance text-onyx dark:text-pale-slate sm:text-7xl"
      >
        Projects
      </h1>
    </Hero>
  </AbstractBG>
  <ProjectListBento slot="main">
    {
      allProjects.map((project) => (
        <ProjectCardBase
          slot="cards"
          href={`/projects/${project.id}/`}
          project={project.data}
        />
      ))
    }
  </ProjectListBento>
</BaseLayout>
