<div class="-z-10 relative isolate px-6 pt-14 lg:px-8">
	<div aria-hidden="true" class=" absolute inset-x-0 -top-40 -z-20 transform-gpu  blur-3xl">
		<div
            style="clip-path: polygon(21% 0, 0 0, 9% 20%, 26% 25%, 28% 48%, 11% 57%, 0 76%, 0 100%, 25% 98%, 51% 73%, 69% 85%, 94% 73%, 100% 52%, 89% 31%, 65% 11%, 42% 9%);"
			class="relative left-[calc(40%-30rem)] w-288.75 aspect-9/4 -translate-x-2/5 translate-y-75 -rotate-15 bg-linear-to-r from-wine-60 to-cherry-20 opacity-60 dark:from-wine-20 dark:to-cherry-60  ">
		</div>
	</div>
	<slot />
	<div aria-hidden="true" class="absolute inset-x-0 -z-20 transform-gpu overflow-x-hidden blur-3xl top-[calc(100%-30rem)]">
		<div 
            style="clip-path: polygon(47% 11%, 23% 11%, 11% 24%, 30% 31%, 41% 47%, 27% 59%, 20% 77%, 27% 90%, 57% 92%, 51% 73%, 67% 58%, 74% 46%, 100% 52%, 88% 23%, 100% 0, 76% 1%);"
			class="relative aspect-9/4  left-[calc(50%+36rem)] w-288.75 -translate-x-2/3  bg-linear-to-tr from-wine-60 to-cherry-20 opacity-50 dark:from-wine-20 dark:to-cherry-60  ">
		</div>
	</div>
</div>
