<div class="">
    <div class="relative isolate px-6 pt-14 lg:px-8">
        <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
            <div
                style="clip-path: polygon(99% 65%, 94% 93%, 73% 89%, 62% 81%, 38% 93%, 10% 98%, 0 70%, 8% 49%, 29% 59%, 48% 55%, 59% 23%, 55% 11%, 67% 0, 89% 3%, 100% 19%, 86% 47%)"
                class="relative left-[calc(50%-11rem)] aspect-9/4 w-50 -translate-x-2/5 translate-y-100 -rotate-15 bg-linear-to-r from-wine-60 to-cherry-20 opacity-40 dark:from-wine-20 dark:to-cherry-60 dark:opacity-60 sm:left-[calc(50%-30rem)] sm:w-288.75">
            </div>
        </div>
        <slot />
        <div
            aria-hidden="true"
            class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
            <div
                style="clip-path: polygon(47% 11%, 23% 11%, 11% 24%, 30% 31%, 41% 47%, 27% 59%, 20% 77%, 27% 90%, 57% 92%, 51% 73%, 67% 58%, 74% 46%, 100% 52%, 88% 23%, 100% 0, 76% 1%);"
                class="relative left-[calc(50%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 -rotate-45 bg-linear-to-bl from-wine-60 to-cherry-20 opacity-40 dark:from-wine-20 dark:to-cherry-60 dark:opacity-60 sm:left-[calc(50%+36rem)] sm:w-288.75"></div>
            </div>
        </div>
    </div>
</div>
