<div class="relative isolate px-6 pt-14 lg:px-8">
    <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu blur-3xl sm:-top-80">
        <div
            style="clip-path: polygon(47% 11%, 23% 11%, 11% 24%, 30% 31%, 41% 47%, 27% 59%, 20% 77%, 27% 90%, 57% 92%, 51% 73%, 67% 58%, 74% 46%, 100% 52%, 88% 23%, 100% 0, 76% 1%);"
            class="relative left-[calc(50%-11rem)] aspect-1155/678 w-300 -translate-x-4/5 rotate-40 bg-linear-to-tr from-wine-30 to-cherry-40 opacity-60 dark:from-wine-30 dark:to-cherry-60 dark:opacity-30 sm:left-[calc(50%-30rem)] sm:w-288.75" >
        </div>
    </div>
    <slot />
    <div
        aria-hidden="true"
        class="absolute inset-x-0 top-[calc(100%-13rem)] -z-20 transform-gpu overflow-x-hidden blur-3xl sm:top-[calc(100%-30rem)]">
        <div
			style="clip-path: polygon(25% 0, 7% 5%, 1% 32%, 17% 52%, 0 85%, 14% 100%, 26% 91%, 19% 69%, 31% 63%, 46% 32%, 82% 29%, 93% 48%, 97% 26%, 92% 7%, 71% 0, 44% 7%)"
            class="relative left-[calc(50%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 -rotate-35 bg-linear-to-tr from-wine-60 to-cherry-40 opacity-60 sm:left-[calc(50%+36rem)] sm:w-288.75">
        </div>
    </div>
</div>
