<div class="relative isolate px-6 pt-14 lg:px-8">
  <div
    aria-hidden="true"
    class="pointer-events-none absolute inset-x-0 -top-40 -z-20 transform-gpu blur-3xl"
  >
    <div
      style="clip-path: polygon(33% 6%, 59% 4%, 75% 13%, 56% 75%, 10% 41%, 0 65%, 18% 94%, 42% 77%, 56% 54%, 60% 87%, 87% 88%, 99% 56%, 98% 41%, 98% 25%, 88% 0, 53% 49%);"
      class="relative left-[calc(40%-30rem)] w-288.75 aspect-9/4 -translate-x-2/5 translate-y-75 -rotate-15 bg-linear-to-r from-wine-60 to-cherry-20 opacity-60 dark:from-wine-20 dark:to-cherry-60"
    >
    </div>
  </div>
  <slot />
  <div
    aria-hidden="true"
    class="pointer-events-none absolute inset-x-0 -z-20 transform-gpu overflow-x-hidden blur-3xl top-[calc(100%-30rem)]"
  >
    <div
      style="clip-path: polygon(94% 40%, 100% 61%, 90% 87%, 76% 96%, 54% 100%, 22% 95%, 10% 82%, 6% 60%, 8% 44%, 0 27%, 4% 5%, 16% 0, 32% 5%, 44% 16%, 56% 24%, 75% 28%);"
      class="relative aspect-9/4 left-[calc(50%+36rem)] w-288.75 -translate-x-2/3 bg-linear-to-tr from-wine-60 to-cherry-20 opacity-50 dark:from-wine-20 dark:to-cherry-60"
    >
    </div>
  </div>
</div>
