<div class="">
    <div class="relative isolate px-6 pt-14 lg:px-8">
        <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
            <div
                style="clip-path: polygon(33% 6%, 59% 4%, 75% 13%, 56% 75%, 10% 41%, 0 65%, 18% 94%, 42% 77%, 56% 54%, 60% 87%, 87% 88%, 99% 56%, 98% 41%, 98% 25%, 88% 0, 53% 49%)"
                class="relative left-[calc(50%-11rem)] aspect-1155/678 w-300 -translate-x-4/5 rotate-40 bg-linear-to-tr from-wine-30 to-cherry-40 opacity-60 dark:from-wine-30 dark:to-cherry-60 dark:opacity-30 sm:left-[calc(50%-30rem)] sm:w-288.75" >
            </div>
        </div>
        <slot />
        <div
            aria-hidden="true"
            class="absolute inset-x-0 top-[calc(100%-13rem)] -z-20 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
            <div
                style="clip-path: polygon(21% 0, 0 0, 9% 20%, 26% 25%, 28% 48%, 11% 57%, 0 76%, 0 100%, 25% 98%, 51% 73%, 69% 85%, 94% 73%, 100% 52%, 89% 31%, 65% 11%, 42% 9%)"
                class="relative left-[calc(50%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 bg-linear-to-tr from-wine-60 to-cherry-40 opacity-60 sm:left-[calc(50%+36rem)] sm:w-288.75">
            </div>
        </div>
    </div>
</div>
