---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
const { title = "Astro + Tailwind v4" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-slate text-gray-900 dark:bg-onyx dark:text-pale-slate antialiased">
    <slot name="nav"/>
    <slot name="hero" />
    <main class="container mx-auto mt-16 mb-32 px-4 sm:px-6 lg:px-16">
      <slot name="main" />
    </main>
    <Footer />
  </body>
</html>
